$heading-color: hsl(212, 21%, 14%);
$text-color: hsl(228, 12%, 48%);
$background-color: hsl(30, 38%, 92%);
$container-background-color: hsl(0, 0%, 100%);
$cost-color: hsl(158, 36%, 37%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@mixin flex() {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@mixin flexAlt() {
    display: flex;
    align-items: center;
}
@mixin spacing() {
    margin: 1rem;
    padding: 1rem;
}
body {
    @include flex;
    height: 100vh;
    font-size: 0.875rem;
    color: $text-color;
    background-color: $background-color;
}
.parent {
    @include flex();
    margin: 1rem;
    width: 85vw;
    height: fit-content;
    background-color: $container-background-color;
    border-style: clear;
    border-radius: 10px;

    .image-container {
        width: 100%;
        height: 20rem;
        margin-top: 0;
        border-style: clear;

        .perfume-image {
            width: 100%;
            height: 100%;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
        }
    }

    .main-text {
        @include spacing();

        .product-description {
            width: 80%;
            font-family: "Arial";
            font-size: 1rem;
            border-style: clear;
        }

        #product-name {
            font-family: "Montserrat";
            font-size: .8rem;
            text-transform: uppercase;
            letter-spacing: .3rem;
        }

        .text {
            margin-bottom: 1rem;
        }

        .cost {
            @include flexAlt();

            #current-price {
                font-family: "Fraunces";
                font-size: 2rem;
                color: $cost-color;
                margin-right: 1rem;
            }

            #original-price {
                text-decoration: line-through;
            }
        }

        .button-container {
            @include flex();
            height: 3rem;
            border-style: clear;

            button {
                @include flexAlt();
                justify-content: center;
                width: 100%;
                height: 100%;
                color: white;
                background-color: $cost-color;
                border-radius: 10px;
                border: none;

                .cart-icon {
                    margin-right: .5rem;
                }
            }

            button:hover {
                background-color: black;
            }
        }

        h1 {
            font-family: "Fraunces";
            font-size: 2.1rem;
            color: $heading-color;
        }
    }
}