$heading-color: hsl(212, 21%, 14%);
$text-color: hsl(228, 12%, 48%);
$background-color: hsl(30, 38%, 92%);
$container-background-color: hsl(0, 0%, 100%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@mixin flex() {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@mixin spacing() {
    margin: 1rem;
    padding: 1rem;
}
body {
    @include flex;
    height: 100vh;
    font-size: 0.875rem;
    color: $text-color;
    background-color: $background-color;
}
.parent {
    @include flex();
    margin: 1rem;
    height: fit-content;
    background-color: $container-background-color;
    border-style: clear;
    border-radius: 10px;

    .image-container {
        width: 100%;
        height: 25rem;
        margin-top: 0;
        border-style: clear;

        .perfume-image {
            width: 100%;
            height: 100%;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
        }
    }

    .main-text {
        @include spacing();
    }

    .product-name {
        text-transform: uppercase;
        letter-spacing: .5rem;
    }

    h1 {
        color: $heading-color;
    }

    .text {
        margin-bottom: 1rem;
    }

    .cost {
        display: flex;
        align-items: center;

        #current-price {
            color: green;
            margin-right: 1rem;
        }

        #original-price {
            text-decoration: line-through;
        }
    }

    .button-container {
        @include flex();
        height: 3rem;
        border-style: clear;

        button {
            width: 100%;
            height: 100%;
            color: white;
            background-color: green;
            border-radius: 10px;
            border: none;
        }
    }
}